:root {
  --bg: #EDF1F6;
  --bgTop: linear-gradient(to top right, #7EE6E7, #FFF);
  --bgBottom: linear-gradient(to bottom left, #7EE6E7, #FFF);
  --purple1: #1C1559;
  --purple2: #b678e6;
  --blue: #7EE6E7;
}

html,
body {
  overflow-x: hidden;
  height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: var(--bgTop);
}

#btnScrollToTop {
  position: fixed;
  bottom: 15px;
  right: 35px;
  padding: 3px 10px;
  border: none;
  border-radius: 50%;
  box-shadow: 1px 2px 10px #aaa;
  background-color: #fff;
  transition: .2s;
  cursor: pointer;

  &.disabled {
    transform: translate(150%, 0);
  }

  &:hover {
    background-color: #efe;
    box-shadow: 1px 2px 10px #888;
  }
}

/* ----- Header ----- */
header {
  color: var(--purple1);
  font-size: 17px;
  font-weight: 100;
  position: fixed;
  width: 100%;
  padding: 15px 0;
  top: 0;
  z-index: 1;
}

.barra {
  width: 1px;
  background-color: var(--purple1);
  margin: 11px 15px;
}

.login,
.logged {
  margin-right: 2px;
}

.navbar-light .navbar-nav .nav-link {
  color: var(--purple1);
  padding-bottom: 2px;
  transition: border .4s;
}

.navbar-light .navbar-nav .nav-link .icon-nav {
  color: var(--purple1);
  padding-bottom: 0px;
  transition: border .4s;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:active {
  border-bottom: 1px solid var(--purple1);
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:active {
  border-bottom: 1px solid var(--purple1);
}


button.navbar-toggler {
  border: 1px solid var(--bg);
  outline: 1px solid var(--bg);
}

/* ----- Capa ----- */
#home {
  margin-top: 20%;
}

#home h1 {
  font-size: 4rem;
  font-weight: 100;
}

.capa {
  text-align: center;
}

.custom-button {
  color: #fff;
  border-radius: 400px;
  -webkit-border-radius: 400px;
  -moz-border-radius: 400px;
  text-transform: uppercase;
  transition: background 0.4s, color 0.4s;
  padding: 10px 20px;
}

.btn-home {
  color: var(--purple1);
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 400px;
  -webkit-border-radius: 400px;
  -moz-border-radius: 400px;
  box-shadow: 2px 1px 2px 2px #80a0a8;
  -webkit-box-shadow: 2px 1px 2px 2px #80a0a8;
  -moz-box-shadow: 2px 1px 2px 2px #80a0a8;
  transition: .4s;
  padding: 10px 20px;
  cursor: pointer;
}

.btn-home:hover {
  background-color: #bee8f3;
  border: 1px solid #bee8f3;
}

.purple-btn {
  background: #7c25f8;
}

.purple-btn:hover {
  background: #6207e3;
  color: #fff;
}

.white-btn {
  border: 2px solid var(--purple1);
  color: var(--purple1);
}

.carousel-control {
  color: var(--purple1);
  font-size: 3rem;
}

.white-btn:hover {
  background: var(--purple1);
  color: #fff;
}

.white-btn:hover~.fa-cart-shopping {
  color: #000;
}

#img_cell {
  margin-left: -350px;
  margin-top: -100px;
  transform: rotate(25deg);
}

/* ------- Servicos ------- */
#servicos {
  margin-top: 25rem;
  padding: 30px;
  height: 100%;
}

#servicos h2 {
  color: var(--purple1);
}

#servicos img {
  width: 250px;
  height: 200px;
}

#servicos .imgs-servicos {
  padding: 20px 0;
}

/* ------- Recursos ------- */
#recursos {
  margin-top: 3rem;
  color: #01154D;
}

#recursos .card {
  cursor: pointer;
  width: 18rem;
  box-shadow: 0 0 5px 0 #e2e2e2;
}

/* ------- Rodapé ------- */
footer {
  margin-top: 90px;
  padding: 30px;
  background: #000;
}

footer img#logo {
  width: 180px;
  margin-top: 25px;
}

#rodape h4 {
  color: #919496;
  font-size: .8em;
  text-transform: uppercase;
}

#rodape .navbar-nav a {
  color: #fff;
  font-size: 0.8em;
}

#rodape .navbar-nav a:hover {
  color: var(--purple2);
}

/* ------- Tipografia ------- */

h1 {
  font-weight: 900;
  letter-spacing: -0.05em;
  margin-bottom: 50px;
  color: #010142;
}

h2 {
  font-size: 3em;
  font-weight: 700;
  letter-spacing: -0.04;
  color: var(--purple1);
}

h3 {
  font-size: 2em;
  font-weight: 700;
  letter-spacing: -0.04;
}

h4 {
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: -0.2;
}

/* ------- Produtos ------- */

#products {
  margin-top: 10%;
}

.product-container {
  padding: 15px 20px 5px 20px;
  cursor: pointer;
  transition: .5s;
}

.product-container:hover {
  background-color: var(--purple1);
  border-radius: 5px;
  color: #fff;
}

.title {
  font-weight: 700;
}

.description {
  font-size: small;
}

/* -------------------- Form Login / Cadastro -------------------- */

#cadastro {
  display: flex;
  align-items: center;
  justify-content: center;
}

h3 {
  text-align: center;
  margin-bottom: 25px;
  font-weight: 500;
  font-size: xx-large;
}

input {
  margin-bottom: 5px;
}

.inputUser {
  border: 1px solid var(--bg);
  background: transparent;
  border: none;
  border-bottom: 2px solid #000;
  outline: none;
  color: #000;
  font-size: 20px;
  width: 100%;
  letter-spacing: 1px;
}

.inputBox {
  position: relative;
}

.labelInput {
  position: absolute;
  top: 0px;
  left: 0px;
  pointer-events: 1px solid var(--bg);
  cursor: text;
  transition: 0.5s;
}

.inputUser:focus ~ .labelInput,
.inputUser:valid ~ .labelInput {
  top: -20px;
  font-size: 12px;
  color: var(--purple1);
}

.nomes-inputs {
  margin-top: 10px;
}

.selectBox {
  margin-top: -15px;
}

.labelSelect {
  margin-bottom: -0.5px;
  font-size: small;
}

.lblDt {
  font-size: small;
}

.inputBox-Dt {
  margin-top: -25px;
}

option {
  background-color: var(--bg);
}

option:hover {
  background-color: var(--bg);
  transition: .4s;
}

a {
  color: var(--purple1);
  transition: 0.4s;
}

.semCadastro {
  width: 100%;
  color: var(--purple1);
  border-radius: 5px;
  padding: 6px;
  margin-bottom: 5px;
  cursor: pointer;
  transition: .4s;
}

.semCadastro:hover {
  border: 1px solid var(--purple1);
  text-decoration: 1px solid var(--bg);
  color: var(--purple1);
}

.botao {
  width: 100%;
  color: var(--purple1);
  background-color: var(--purple2);
  border: 1px solid var(--purple2);
  border-radius: 5px;
  padding: 6px;
  margin-bottom: 5px;
  cursor: pointer;
  transition: .5s;
}

#inpSenha:invalid,
#ConfSenha:invalid {
  border-bottom: 2px solid red;
}

#ConfSenha:invalid ~ .lblPass,
#inpSenha:invalid ~ .lblPass {
  color: red;
}

.botao:hover {
  color: #fff;
  background-color: var(--purple1);
}

.img-container {
  display: flex;
  align-items: center;
  justify-content: end;
}

ul#verificacao {
  color: red;
}

/* -------------------- saiba Mais -------------------- */
#saibaMais {
 margin-top: 10rem ;

}