body {
  background-color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
}

h1 {
  text-align: center;
}

/* ----- Logo ----- */
.logo-form {
  position: fixed;
  top: 10px;
  left: 10px;
  width: 250px;
}

/* ----- Container ----- */
.base {
  border-radius: 10px;
  padding: 60px 120px;
  margin-left: 50%;
  margin-top: 24%;
  background-color: #011E36;
  transform: translate(-50%, -50%);
  border-radius: 50px 10px 50px 10px;
}

h3 {
  text-align: center;
  margin-bottom: 25px;
  font-weight: 500;
  font-size: xx-large;
}

.inputUser {
  border: none;
  background: none;
  border-bottom: 2px solid #fff;
  outline: none;
  color: #fff;
  font-size: 20px;
  width: 100%;
  letter-spacing: 1px;
}

.inputBox {
  position: relative;
}

.labelInput {
  position: absolute;
  top: 0px;
  left: 0px;
  pointer-events: none;
  transition: 0.5s;
}

.inputUser:focus ~ .labelInput,
.inputUser:valid ~ .labelInput {
  top: -20px;
  font-size: 12px;
  color: #fff;
}

.semCadastro {
  font-size: small;
}

.semCadastro a {
  color: #5DE888;
  transition: 0.4s;
}

.semCadastro a:hover {
  color: #3fb364;
}

.botao {
  width: 100%;
  color: #011E36;
  background-color: #5DE888;
  border: none;
  border-radius: 5px;
  padding: 6px;
  cursor: pointer;
}
